.table{
    margin-left: 50px;
}

.row{
    display: flex;
    justify-content: space-between;
}

table {
    margin-left: 40px;
    border: 3px solid rgb(33, 27, 201);
    width: 300px;
    font-size: 20px;
    height: 200px;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}
